<nav class="navbar navbar-expand-lg navbar-light bg-light">
  <a class="navbar-brand" href="/">Cadastro de Alunos</a>
  <style>
    ul{
      list-style-type: none;
      margin: 0;
      padding: 0;
      width: 60px;
    }
    li a {
  display: block;
  background-color: #dddddd;
}

  </style>
  <ul class="navbar-nav mr-auto">
    <li class="nav-item">
      <a class="nav-link" href="/">Pagina inicial</a>
    </li>
    <li class="nav-item">
      <a class="nav-link" href="/cadastro">Cadastro</a>
    </li>
  </ul>
</nav>