<!DOCTYPE html>
<html lang="en">
<head>
    <%- include('./partials/head'); %>
</head>
<body class="container">
<header>
    <%- include('./partials/header'); %>
</header>
    <%- include('./partials/msg'); %>
<main>
    <img src="https://hugocalixto.com.br/wp-content/uploads/sites/22/2020/07/error-404-1.png" >
</main>

<footer>
    <%- include('./partials/footer'); %>
</footer>

</body>
</html>