   
<!DOCTYPE html>
<html lang="en">
<head>
    <%- include('./partials/head'); %>
</head>
<body class="container">
<header>
    <%- include('./partials/header'); %>
</header>
    <%- include('./partials/msg'); %>
<main>
    <h1>Cadastrar Aluno: </h1>
    <div class="card">
        <div class="card-body">
            <form action="/criar_cadastro" method="POST">
                <p>Nome: </p>
                <input type="text" class="form-control" name="nome" required>
                <p>Sobre Nome:</p>
                <input type="text" class="form-control" name="sobreNome" required>
                <p>E-mail: </p>
                <input type="text" class="form-control" name="email"></br required>
                <p>Endereço: </p>
                <input type="text" class="form-control" name="endereço"></br required>
                <p>Cidade: </p>
                <input type="text"  class="form-control" name="cidade"></br required>
                <p>Estado: </p>
                <input type="text"  class="form-control" name="estado"></br required>
                
                <button class="btn btn-success" type="submit">Inserir aluno</button>
                
            </form>
        </div>
    </div>
</main>

<footer>
    <%- include('./partials/footer'); %>
</footer>

</body>
</html>

